body {
    text-align: center;
    background-image:url("stadium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

#scoreboard {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 1px #FADDC6;
    background-size: 100px
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}